.container-section {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;

  div[inSection] {
    margin: auto;
    max-width: 85rem;
  }

  @media (min-width: 1200px) {
    margin-left: 232px;
  }
}
