<app-header></app-header>

<app-section class="container">
  <p>Insira os dados abaixo para criar uma nova turma.</p>

  <div class="forms">
    <app-form>
      <app-input-field label="Nome da turma" placeholder="Digite o nome da turma" type="text"></app-input-field>
      <app-input-field label="Descrição da turma" placeholder="Digite a descrição da turma" type="text"></app-input-field>
      <app-input-field label="Matéria" placeholder="Digite a matéria" type="text"></app-input-field>
    </app-form>
  </div>

  <app-button label="Criar turma" (click)="goToClass()"></app-button>
</app-section>
