app-header {
  display: grid;
  position: relative;
  top: 24px;
}

app-classcard-title {
  display: grid;
}

app-subheader {
  display: grid;
  position: relative;
  top: 6rem;
}

img {
  display: grid;
  position: relative;
  top: 4rem;
}

app-button {
  display: grid;
  position: relative;
  top: 35rem;
}

p {
  display: grid;
  position: relative;
  top: 34rem;
  text-align: center;
}
