.card {
  width: 360px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;

  box-shadow: 0px 2px 4px -1px #0000000f;

  box-shadow: 0px 4px 6px -1px #0000001a;
}

h1 {
  margin: 10px;
  text-shadow: 1px 1px 1px #00000057;
}

.pentagonal {
  width: 70px;
  height: 70px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  box-shadow: -2px 6px 0px 0px #0000001a;

  position: relative;
  top: -30px;
  left: 15px;
}

.icon {
  width: 45px;
  height: 45px;
}

$colors: (
  'Português': #0e6ba8,
  'Matematica': #ed4c5c,
  'Fisica': #6db0dc,
  'Química': #76129d,
  'Biologia': #18924a,
  'História': #e3b128,
  'Geografia': #d4812d,
);

[class] {
  @each $class, $color in $colors {
    &.#{'bg-' + $class} {
      background-color: $color;
    }
  }
}
