.container {
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  position: relative;

  app-header {
    display: grid;
    position: relative;
    top: -32px;
  }

  app-classcard-title {
    display: flex;
    position: relative;
    top: -120px;
  }

  app-steps {
    display: grid;
    position: relative;
    top: -77px;
  }

  .button-container {
    display: flex;
    position: relative;
    gap: 2rem;
    justify-content: center;
    top: 380px;
  }
}
