@import '../../../../../styles/mixins';

button {
  min-width: 48px;
  height: 48px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    color 0.2s;

  &.only-icon {
    padding: 0;

    .icon {
      font-size: 48px;
      width: 48px;
      height: 28px;
    }
  }

  &.filled {
    background-color: var(--normal);
    color: var(--white);

    &:hover {
      background-color: var(--dark);
    }

    &:active {
      background-color: var(--darker);
    }

    &:disabled {
      background-color: var(--white);
      color: var(--black);
      cursor: not-allowed;
    }
  }

  &.outlined {
    background-color: transparent;
    color: var(--normal);
    border: 1px solid var(--gray-2);

    &:hover {
      background-color: var(--light);
    }

    &:active {
      background-color: var(--light-active);
      color: var(--darker);
    }

    &:disabled {
      background-color: transparent;
      color: var(--black);
      border-color: transparent;
      cursor: not-allowed;
    }

    .icon {
      color: var(--normal);
    }

    .label {
      color: var(--normal);
    }
  }

  &.text {
    background-color: transparent;
    color: var(--normal);

    &:hover {
      background-color: var(--light);
    }

    &:active {
      background-color: var(--light-active);
      color: var(--darker);
    }

    &:disabled {
      background-color: transparent;
      color: var(--black);
      cursor: not-allowed;
    }

    .icon {
      color: var(--normal);
    }

    .label {
      color: var(--normal);
    }
  }

  .icon {
    font-size: clamp(16px, 3vw, 24px);
  }
}
