<section class="nav-bar">
  <div class="container-icons">
    <a routerLink="/turma">
      <!--Altera o ícone para preenchido ao ser selecionado-->
      <ng-container *ngIf="path === '/turma'; else classActive">
        <!--SVG do ícone "Turma" preenchido/selecionado-->
        <span class="iconify icon-selected" data-icon="majesticons:user-group"></span>
        <p class="label-selected">Turma</p>
      </ng-container>
      <!--SVG do ícone "Turma"-->
      <ng-template #classActive>
        <span class="iconify icon-selected" data-icon="majesticons:user-group-line"></span>
        <p class="label-unselected">Turma</p>
      </ng-template>
    </a>
    <a routerLink="/tarefas">
      <ng-container *ngIf="path === '/tarefas'; else tasksActive">
        <!----SVG do ícone "Tarefas" preenchido/selecionado-->
        <span class="iconify icon-selected" data-icon="majesticons:book-open"></span>
        <p class="label-selected">Tarefas</p>
      </ng-container>
      <ng-template #tasksActive>
        <!--SVG do ícone "Tarefas"-->
        <span class="iconify icon-unselected" data-icon="majesticons:book-open-line"></span>
        <p class="label-unselected">Tarefas</p>
      </ng-template>
    </a>
    <!---SVG do ícone de "Ajustes" preenchido/selecionado-->
    <a routerLink="/ajustes">
      <ng-container *ngIf="path === '/ajustes'; else settingsActive">
        <span class="iconify icon-selected" data-icon="majesticons:settings-cog"></span>
        <p class="label-selected">Ajustes</p>
      </ng-container>
      <!--SVG do ícone de "Ajustes"-->
      <ng-template #settingsActive>
        <span class="iconify icon-unselected" data-icon="majesticons:settings-cog-line"></span>
        <p class="label-unselected">Ajustes</p>
      </ng-template>
    </a>
  </div>
</section>
