<section>
  <div class="container">
    <img src="../../../assets/img/kognito.png" alt="kognito" />
  </div>
  <h1 class="title">Kognito</h1>
</section>

<div class="subtitle">
  <h3>Bem-vindo ao Kognito!</h3>
  <p>Escolha seu tipo de acesso para continuar:</p>
</div>

<div class="button-container">
  <button class="student-button" (click)="goToHome()">
    <img src="../../../assets/img/welcome-page/student.png" alt="student" />
    <p>Sou aluno</p>
  </button>
  <button class="teacher-button" (click)="goToHome()">
    <img src="../../../assets/img/welcome-page/teacher.png" alt="teacher" />
    <p>Sou professor</p>
  </button>
</div>
