<nav class="container-icons">
  <div class="icons">
    <app-item
      [routerLink]="'/home/class/tasks'"
      [selected]="path === '/home/class/tasks'"
      [dataIconActive]="'majesticons:book-open'"
      [dataIconInactive]="'majesticons:book-open-line'"
      [label]="'Tarefas'"></app-item>
    <app-item
      [routerLink]="'/home/goals'"
      [selected]="path === '/home/goals'"
      [dataIconActive]="'majesticons:list-box'"
      [dataIconInactive]="'majesticons:list-box-line'"
      [label]="'Metas'"></app-item>
    <app-item
      [routerLink]="'/home/profile'"
      [selected]="path === '/home/profile'"
      [dataIconActive]="'majesticons:user-circle'"
      [dataIconInactive]="'majesticons:user-circle-line'"
      [label]="'Perfil'"></app-item>
  </div>
  <app-item
    class="logout-button"
    [routerLink]="'/welcome'"
    [dataIconActive]="'majesticons:logout-line'"
    [label]="'SAIR'"
    [onclick]="logout"></app-item>
</nav>
