<section>
  <div class="container">
    <ng-container *ngIf="initial || iconCode">
      <div class="circle">
        <ng-container *ngIf="initial; else icon">{{ initial }}</ng-container>
        <ng-template #icon>
          <span class="iconify" [attr.data-icon]="iconCode" data-inline="false"></span>
        </ng-template>
      </div>
    </ng-container>
    <div>
      <h2>{{ header }}</h2>
      <h3>{{ subheader }}</h3>
    </div>
  </div>
  <div class="container">
    <app-neuro-tags [tags]="tags"></app-neuro-tags>
    <span id="dots-vertical" class="iconify" data-icon="majesticons:dots-vertical" data-inline="false"></span>
  </div>
</section>
