// styles/_variables.scss

/* Primária - Variações */
$light: #e7f0f6;
$light-hover: #dbe9f2;
$light-active: #99d0f5;
$normal: #0e6ba8;
$normal-hover: #0d6097;
$normal-active: #0b5686;
$dark: #0b507e;
$dark-hover: #084065;
$dark-active: #06304c;
$darker: #05253b;

/* Cores de status */
$info: #2f80ed;
$success: #27ae60;
$warning: #e2b93b;
$error: #eb5757;

/* Cores neutras */
$black: #1d1d1d;
$white: #f1f4f5;
$gray-1: #4f4f4f;
$gray-2: #828282;
$gray-3: #bdbdbd;
$gray-4: #e0e0e0;

/* Cores das Matérias */
$portugues: #0e6ba8;
$matematica: #ed4c5c;
$fisica: #6db0dc;
$quimica: #76129d;
$biologia: #18924a;
$historia: #e3b128;
$geografia: #d4812d;

/* Emblemas */
$emblema-1: #387197;
$emblema-1-stroke: #7ea7c2;
$emblema-2: #8c58ac;
$emblema-2-stroke: #ba94d1;
$emblema-3: #d4aa3d;
$emblema-3-stroke: #ecc704;
$emblema-4: #358e5d;
$emblema-4-stroke: #66b986;

/* Variáveis para Botões Filled */
$filled-bg-default: $normal;
$filled-bg-hover: $dark;
$filled-bg-pressed: $darker;
$filled-bg-disabled: $white;
$filled-btn-txt: $white;
$filled-btn-txt-disabled: $black;

/* Variáveis para Botões Outlined */
$outlined-bg-default: inherit;
$outlined-bg-hover: $light;
$outlined-bg-pressed: #b4d1e4;
$outlined-bg-disabled: inherit;
$outlined-btn-txt: $normal;
$outlined-btn-txt-pressed: $darker;
$outlined-border: $gray-2;
$outlined-btn-txt-disabled: $filled-btn-txt-disabled; // Usando variável definida anteriormente
$outlined-borders: $filled-bg-disabled; // Usando variável definida anteriormente

/* Variáveis para Text Buttons */
$txt-btn-bg-default: inherit;
$txt-btn-bg-hover: $light;
$txt-btn-bg-pressed: $outlined-bg-pressed;
$txt-btn-bg-disabled: inherit;
$txt-btn-txt: $outlined-btn-txt;
$txt-btn-txt-pressed: $outlined-btn-txt-pressed;
$txt-btn-txt-disabled: $outlined-btn-txt-disabled;
