@import './mixins';
@import './reset';
@import './variables';
@import './themes';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  @include theme-light-root();
}

.theme-dark {
  @include theme-dark();
}

html {
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}

.not-overflow {
  overflow: hidden;
}
