<app-header title=" "></app-header>

<app-section class="conntainer">
  <app-calendar></app-calendar>

  <app-subheader title="Suas Metas"></app-subheader>

  <!-- Lista de tarefas pendentes -->
  <div class="checkbox-list">
    <ng-container *ngFor="let task of tasks; let i = index">
      <app-checkbox-task [taskLabel]="task.label" [isChecked]="false" (checkChanged)="onTaskChecked(i, $event)">
      </app-checkbox-task>
    </ng-container>
  </div>

  <app-subheader title="Concluídas Hoje"></app-subheader>

  <div class="checkbox-list">
    <ng-container *ngFor="let completedTask of completedTasks">
      <app-checkbox-task [taskLabel]="completedTask.label" [isChecked]="true" disabled="true"> </app-checkbox-task>
    </ng-container>
  </div>

  <app-button codeIcon="majesticons:plus-line" (click)="addCheckBox()"> </app-button>
</app-section>

<app-navbar></app-navbar>
