.checkbox-list {
  display: flex;
  flex-direction: column; /* Alinha os checkboxes verticalmente */
  gap: 10px; /* Define o espaço de 10px entre os checkboxes */
}

app-calendar {
  display: grid;
  position: relative;
  top: -4rem;
}

app-button {
  display: grid;
  position: absolute;
  bottom: 6rem;
  right: 2rem;
}

app-subheader {
  margin: 20px 0px 20px;
}
