.container-main {
  display: flex;
  flex-direction: column;
  margin: auto;

  min-width: 70%;
  gap: 1.5rem;

  .checkbox-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;

    .text {
      font-size: 1.1rem;
      color: var(--gray-1);
    }
  }
}

span {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--black);
}

app-button {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
}

app-subheader {
  margin: 20px 0px 20px;
}
