.container-main {
  display: flex;

  flex-direction: column; /* Alinha os checkboxes verticalmente */
  gap: 10px; /* Define o espaço de 10px entre os checkboxes */
  justify-content: center;
  width: 420px;
  padding: 10px;
}

app-calendar {
  padding: 30px;

  flex-direction: column;
  margin: auto;

  min-width: 70%;
  gap: 1.5rem;

  .checkbox-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;

    .text {
      font-size: 1.1rem;
      color: var(--gray-1);
    }
  }
}

span {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--black);

}

app-button {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
}

app-sidebar {
  display: none;
}

@media (min-width: 1035px) {
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .container-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    position: relative;
    right: 90px;
  }

  app-navbar {
    display: none;
  }

  app-sidebar {
    display: grid;
    position: absolute;
    top: 0px;
  }

  .checkbox-list {
    display: flex;
    flex-direction: column; /* Alinha os checkboxes verticalmente */
    gap: 10px; /* Define o espaço de 10px entre os checkboxes */
    width: 750px;
  }

  app-calendar {
    width: 750px;
  }

  app-subheader {
    text-align: left;
  }
}
