<!-- <app-subheader
  [subtitle]="'Turmas'"
  [codeIcon]="[
    { src: 'majesticons:user-add-line', isIconOnly: true },
    { src: 'majesticons:file-plus-line', isIconOnly: true },
    { src: 'majesticons:filter-line', isIconOnly: true },
  ]">
</app-subheader> -->
<app-header></app-header>

<div class="content-container" inSection>
  <img src="assets/img/home-page/empty.webp" alt="Imagem ilustrativa da home vazia." />
  <app-button type="filled" codeIcon="majesticons:plus-line" label="Criar Turma" (click)="redirectToCreateClass()"> </app-button>
</div>
