<!-- <app-subheader
  [subtitle]="'Turmas'"
  [codeIcon]="[
    { src: 'majesticons:user-add-line', isIconOnly: true },
    { src: 'majesticons:file-plus-line', isIconOnly: true },
    { src: 'majesticons:filter-line', isIconOnly: true },
  ]">
</app-subheader> -->

<div class="content-container" inSection>
  <img src="../../../../assets/img/home-teacher-empty.png" alt="home-teacher-picture-default" />
  <app-button type="filled" codeIcon="majesticons:plus-line" label="Criar Turma" (click)="redirectToCreateClass()"> </app-button>
</div>
