.container {
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  position: relative;

  app-steps {
    display: grid;
    position: relative;
    top: 47px;
  }

  .button-container {
    display: flex;
    position: relative;
    gap: 2rem;
    justify-content: center;
    top: 280px;
  }
}
