.button-container {
  display: flex;
  gap: 8px;

  .btn {
    border-radius: 10px;
    border: none;

    &.filled {
      background-color: var(--normal);
      color: var(--white);

      &:hover {
        background-color: var(--dark);
      }

      &:active {
        background-color: var(--darker);
      }

      &:disabled {
        background-color: var(--white);
        color: var(--black);
        cursor: not-allowed;
      }
    }

    &.outlined {
      background-color: transparent;
      color: var(--normal);
      border: 1px solid var(--gray-2);

      &:hover {
        background-color: var(--light);
      }

      &:active {
        background-color: var(--light-active);
        color: var(--darker);
      }

      &:disabled {
        background-color: transparent;
        color: var(--black);
        cursor: not-allowed;
      }
    }

    &.text {
      background-color: transparent;
      color: var(--normal);

      &:hover {
        background-color: var(--light);
      }

      &:active {
        background-color: var(--light-active);
        color: var(--darker);
      }

      &:disabled {
        background-color: transparent;
        cursor: not-allowed;
        color: var(--black);
      }
    }
  }
}
