.subheader-container {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  gap: 0.5rem;

  .action {
    cursor: pointer;
  }
}

.iconify {
  width: 1.5rem;
  height: 1.5rem;
}
