.subheader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  display: flex;
  gap: 0.5rem;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.iconify {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
