img {
  width: 234px;
  align-self: center;
}

.container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  app-button {
    display: grid;
    width: 338px;
    height: 48px;
    padding: 10px 24px;
    margin-bottom: 50px;
  }

  .container-register {
    width: 300px;
    top: calc(550px + 48px + 50px);
    text-align: center;

    p {
      color: var(--black);
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
    }

    a {
      color: var(--normal);
      font-size: 16px;
      font-weight: 600;
      line-height: 25.2px;
      text-decoration: none;
    }
  }

  //Desktop
  @media (min-width: 1000px) {
    img {
      width: 350px;
      align-self: center;
    }
  }
}
