<section class="nav-bar">
  <div class="container-icons">
    <app-navbar-item
      [routerLink]="'/turma'"
      [selected]="path === '/turma'"
      [dataIconActive]="'majesticons:user-group'"
      [dataIconInactive]="'majesticons:user-group-line'"
      [label]="'Turma'"></app-navbar-item>
    <app-navbar-item
      [routerLink]="'/tarefas'"
      [selected]="path === '/tarefas'"
      [dataIconActive]="'majesticons:book-open'"
      [dataIconInactive]="'majesticons:book-open-line'"
      [label]="'Tarefas'"></app-navbar-item>
    <app-navbar-item
      [routerLink]="'/ajustes'"
      [selected]="path === '/ajustes'"
      [dataIconActive]="'majesticons:settings-cog'"
      [dataIconInactive]="'majesticons:settings-cog-line'"
      [label]="'Ajustes'"></app-navbar-item>
  </div>
</section>
