.buttons {
  display: flex;
  justify-content: center;
}

app-input-field {
  width: 685px;
}

app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
