.invite-card {
  width: 339px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  border-radius: 12px;
  padding: 16px;
  box-shadow:
    0px 1px 3px 1px var(--black),
    0px 1px 2px 0px var(--black);

  .invite-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--black);
    min-width: 200px;
    margin: 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .invite-actions {
    display: flex;
    gap: 30px;
    margin-top: 12px;

    .action-button {
      width: 170px;
      height: 48px;
      font-family: var(--font-family);
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4;
      color: var(--normal);
      background: none;
      border: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: var(--normal-hover);
      }
    }
  }
}
