<div class="container" [ngClass]="{ grid: isGrid }">
  <ol class="steps" role="progressbar" [attr.aria-valuenow]="currentStep" [attr.aria-valuemax]="totalSteps">
    <li
      class="circle"
      *ngFor="let step of [].constructor(totalSteps); let i = index"
      [class.active]="currentStep == i + 1"
      [attr.aria-current]="currentStep === i + 1 ? 'step' : null">
      {{ i + 1 }}
    </li>
    <div class="progress-bar">
      <span class="indicator" [style.width]="getProgressWidth()"></span>
    </div>
  </ol>
</div>
