<div class="container" [ngClass]="{ grid: isGrid }">
  <ul class="steps" role="progressbar" [attr.aria-valuenow]="currentStep" [attr.aria-valuemax]="totalSteps">
    <li
      *ngFor="let step of [].constructor(totalSteps); let i = index"
      [attr.aria-current]="currentStep === i + 1 ? 'step' : null">
      <span class="circle" [class.active]="currentStep === i + 1">
        {{ i + 1 }}
      </span>
      <span [class.active]="currentStep === i + 1">
        {{ labels[i] }}
      </span>
    </li>
    <div class="progress-bar">
      <span class="indicator" [style.width]="getProgressWidth()"></span>
    </div>
  </ul>
</div>
