<app-header title="Matérias"></app-header>

<app-form>
  <app-input-field formControlName="Teste" label="Nome" [required]="true"></app-input-field>
  <app-input-field formControlName="Teste2" label="Senha" type="password"></app-input-field>
  <app-input-field formControlName="Teste3" label="Nota" type="grade" [required]="true"></app-input-field>
  <app-input-field formControlName="Teste4" label="CPF" type="cpf" [required]="true"></app-input-field>
  <app-input-field formControlName="Teste5" label="data" type="datetime-local" [required]="true"></app-input-field>
  <app-input-field formControlName="Teste6" label="emial" type="email" [required]="true"></app-input-field>
  <app-input-field formControlName="Teste7" label="area" type="textarea" [required]="true"></app-input-field>
  <button>T</button>
</app-form>

<input type="" />

<main>
  <app-section>
    <ng-container *ngIf="role === 'teacher'; else student">
      <app-teacher></app-teacher>
    </ng-container>

    <ng-template #student>
      <app-student></app-student>
    </ng-template>
  </app-section>
</main>
