a {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.5s all ease-out;

  &.selected {
    background: var(--light);
  }

  &:hover {
    background-color: var(--light-hover);
  }
}

.icon-selected {
  fill: var(--normal);
  color: var(--normal);
  width: 2rem;
  height: 2rem;
}

.icon-unselected {
  fill: var(--light);
  color: var(--gray-1);
  width: 2rem;
  height: 2rem;
}

.label-selected {
  font-weight: bold;
  color: var(--normal);
}

.label-unselected {
  color: var(--gray-1);
  gap: 24px;
}
