.container {
  height: 100%;
  padding: 5rem 2rem;

  display: flex;
  justify-content: center;

  img {
    display: grid;
    width: 297px;
    height: 221px;
    padding: 20px;
    gap: 0px;
    opacity: 0px;
    margin: 0 auto;
  }

  p {
    margin-left: 16px;
    margin-right: 16px;
    width: 350px;
    text-align: center;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;

    margin-top: 125px;
  }

  app-button {
    display: grid;
    position: absolute;
    bottom: 85px;
    right: 5px;
  }
}
@media (min-width: 1000px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: center;

    img {
      display: grid;
      width: 297px;
      height: 221px;
      padding: 0px;

      margin-top: 60px;
    }

    p {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 50px;
      width: 100%;
    }
  }
}
