.container {
  height: 100vh;
  padding: 5rem 2rem;

  img {
    display: grid;
    width: 297px;
    height: 221px;
    padding: 34.13px 21.14px 24.67px 49.91px;
    gap: 0px;
    opacity: 0px;
  }

  p {
    margin-left: 16px;
    margin-right: 16px;
    width: 350px;
    text-align: center;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
  }

  app-button {
    display: grid;
    position: absolute;
    bottom: 85px;
    right: 5px;
  }
}
@media (min-width: 1000px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
  }
}
