app-header {
  display: grid;
  position: relative;
  top: 44px;
  margin-bottom: 40px;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-decoration-skip-ink: none;
}
app-button {
  display: grid;
  position: relative;
  top: auto;
  bottom: -530px;
}
