article {
  display: flex;
  justify-content: space-between;
  width: 340px;
  height: 5rem;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--light);
  border-radius: 10px;
  position: relative;
}

.options {
  position: absolute;
  right: 10px;
  bottom: -12px;
  border: 1px solid var(--gray-3);
  background-color: var(--light);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: none;

  .actionContainer {
    display: flex;
    justify-content: center;
  }
}

.open {
  display: block;
}

h2 {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.575rem;
  align-self: stretch;
}

h3 {
  font-size: 0.75rem;
  line-height: 1.4;
}

.container {
  display: flex;
  gap: 0.75rem;
}

.iconify {
  height: 22px;
  width: 22px;
}
.vertical-dots {
  cursor: pointer;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--normal);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
}
