@import '../../../../../styles/mixins';

.container-icons {
  padding: 12px 16px;
  width: 100%;
  @include applyGrid(column, 3, 33%, 33%, 0, center, center);
  bottom: 0;
  position: fixed;
  background-color: var(--light);
  border-radius: 20px 20px 0px 0px;
}
