.container-icons {
  display: none;
  position: fixed;
  top: 0;

  flex-direction: column;
  justify-content: space-between;

  width: 200px;
  padding: 24px 16px 32px 16px;

  border-right: 1px solid #e8eaf6;

  height: 100vh;
  z-index: 1;

  .icons {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 1.5rem;
  }

  @media (min-width: 1200px) {
    display: flex;
  }
}

.logout-button {
  a {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.5s all ease-out;
    fill: var(--normal);
    color: var(--normal);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    top: 100px;

    &:hover {
      background-color: var(--light-hover);
    }
  }

  p {
    font-size: 1rem;
  }
}
