@import '../../../../styles/mixins';

header {
  margin-left: -15px;
  padding: 45px;
  border-bottom: 1px solid var(--Primria---Variaes-Light, #e7f0f6);
  background: var(--Generic-White, #fff);

  // Aplicando grid para a estrutura sem alterar as posições absolutas
  @include applyGrid(row, auto-fit, 150px, 1fr, 16px, center, space-between);
  position: relative; // Para respeitar as posições absolutas dos filhos
}

img {
  position: absolute; // Mantém a posição exata
  left: 80px;
  top: 30px;
  fill: var(--black);
  width: 142.991px;
  height: 44.279px;
  flex-shrink: 0;
}

app-button {
  position: absolute; // Mantém a posição exata
  top: 24px;
  left: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

svg {
  position: absolute; // Mantém a posição exata
  top: 30px;
  left: 95%;
}
