.invite-card {
  width: 312px;
  height: 217px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--light);
  border-radius: 12px;

  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 8px;
    color: var(--black);
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: var(--black);
    margin-bottom: 16px;
  }

  .invite-actions {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-between; /* Espaço entre os botões quando há mais de um */

    /* Alinhamento do único botão à direita */
    & > app-button {
      flex-grow: 0;
    }

    & > app-button:only-child {
      margin-left: auto; /* Mover o único botão para a direita */
    }

    /* Manter os botões responsivos de acordo com a quantidade de botões */
    @media (max-width: 768px) {
      /* Para telas menores, dois botões podem continuar com space-between ou coluna se um único botão */
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @media (max-width: 480px) {
      /* Para telas bem pequenas, o alinhamento continua como flex-direction row */
      gap: 10px;
    }

    &:hover {
      background-color: var(--button-hover);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--focus-outline);
    }
  }
}
