.invite-card {
  width: 312px;
  height: 217px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--light);
  border-radius: 12px;

  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 8px;
    color: var(--black);
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: var(--black);
    margin-bottom: 16px;
  }

  .invite-actions {
    display: flex;
    width: 100%;
    gap: 30px;

    &::after {
      content: '';
      flex-grow: 1;
    }

    a {
      display: inline-block;
      width: 260px;
      height: 50px;
      font-size: 14px;
      font-weight: 600;
      color: var(--normal);
      background-color: var(--button-background);
      border: 1px solid var(--border);
      cursor: pointer;
      text-align: right;
      text-decoration: none; // Remove o sublinhado
      line-height: 48px; // Centraliza verticalmente o texto

      &:hover {
        background-color: var(--button-hover);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--focus-outline);
      }
    }

    &:only-child a {
      justify-content: flex-end;
    }

    & > a:nth-child(1) {
      justify-content: space-between;
    }
  }
}
