.container {
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  position: relative;

  app-header {
    display: grid;
    position: relative;
    top: -32px;
  }

  app-classcard-title {
    display: flex;
    position: relative;
    top: -120px;
  }

  app-steps {
    display: grid;
    position: relative;
    top: 122px;
  }

  app-button {
    display: grid;
    position: absolute;
    bottom: 91px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
  }
}
