.content-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 232.152px;
  height: 172.616px;
  flex-shrink: 0;
  margin-bottom: 146px;
}

app-button {
  position: relative;
  bottom: 19px;
  display: flex;
  justify-content: center;
}
